<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form th:action="@{/logout}" method="POST" align="right">
    <input type="submit" value="Logout"/>
</form>
<hr>
<br>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>

    <br/>

    <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>

    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>

    <div class="form-group row">
        <label class="col-4 col-form-label">Roles: </label>
        <div class="col-8">
            <th:block th:each="role: ${roles}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.name.substring(5)}" th:value="${role.name}" class="m-2" />
            </th:block>
        </div>
    </div>

    <br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>