<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<form th:action="@{/logout}" method="POST" align="right">
    <input type="submit" value="Logout"/>
</form>
<hr>
<br>

<p th:text="${user.getName()}">XXX</p>
<p th:text="${user.getSurname()}">XXX</p>
<p th:text="${user.getEmail()}">XXX</p>


<form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit!"/>
</form>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>